@import url("https://api.fonts.coollabs.io/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "IBM Plex Sans", serif;
  color: rgb(25, 24, 38);
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

p {
  line-height: 150%;
}

.header {
  padding: 64px 20px 180px;
  background: url("../assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: right -220px top -200px;
}
.header .hero__pattern {
  width: 0;
}
.header .hero__title {
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -1px;
  margin-block-start: 64px;
  margin-block-end: 40px;
}

.illustration {
  background-color: rgb(25, 24, 38);
  background-image: url("../assets/images/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  min-height: 380px;
}
.illustration__image {
  max-width: 210px;
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translate(-50%);
}

.cta {
  padding: 48px 20px;
  background-color: rgb(250, 116, 83);
}
.cta__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 110%;
  margin-block-end: 24px;
}
.cta__description {
  margin-block-end: 40px;
}
.cta__price {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-end: 48px;
}
.cta__price-value {
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
}
.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 12px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 180%;
}
.cta__button--dark {
  background-color: rgb(25, 24, 38);
  color: rgb(252, 250, 249);
  margin-block-end: 16px;
}
.cta__button--light {
  background-color: rgb(252, 250, 249);
  color: rgb(25, 24, 38);
}

.footer {
  padding: 64px 20px 80px;
  display: grid;
  grid-template-areas: "logo" "contact-info" "social-media";
  gap: 32px;
}
.footer__logo {
  grid-area: logo;
}
.footer__contact-info {
  grid-area: contact-info;
}
.footer__email {
  color: rgb(25, 24, 38);
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}
.footer__social-media {
  grid-area: social-media;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 64px 40px 220px;
    background: url("../assets/images/bg-main-tablet.png");
    background-repeat: no-repeat;
    background-position: 80% 75%;
    overflow: hidden;
  }
  .header .hero {
    position: relative;
  }
  .header .hero__pattern {
    width: 280px;
    position: absolute;
    top: -270px;
    right: -90px;
  }
  .header .hero__title {
    font-size: 4rem;
    margin-block-start: 128px;
    max-width: 500px;
  }
  .header .hero__description {
    max-width: 505px;
    font-size: 1.125rem;
  }
  .main {
    padding: 0 40px 200px;
    background: url("../assets/images/bg-main-tablet.png");
    background-repeat: no-repeat;
    background-position: left 450px top 180px;
    position: relative;
  }
  .main .illustration {
    background-position: left top;
    min-height: 580px;
    border-radius: 12px;
  }
  .main .illustration__image {
    max-width: 270px;
    position: absolute;
    top: -110px;
    left: 28%;
  }
  .main .cta {
    max-width: 350px;
    padding: 48px;
    border-radius: 16px;
    position: absolute;
    top: 10%;
    right: 110px;
  }
  .main .cta__description {
    font-size: 1.125rem;
  }
  .footer {
    padding-inline: 40px;
    -moz-column-gap: 0;
         column-gap: 0;
    grid-template-areas: "logo logo" "contact-info social-media";
  }
  .footer__social-media {
    justify-content: end;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding-inline: 80px;
    background: url("../assets/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-position: left -300px top -350px;
  }
  .header .hero__title {
    max-width: 900px;
  }
  .header .hero__description {
    max-width: 730px;
  }
  .main {
    padding-inline: 80px;
    background: url("../assets/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-position: left 860px top 180px;
  }
  .main .illustration {
    background-position: center top;
  }
  .main .illustration__image {
    max-width: 300px;
    left: 26%;
  }
  .main .cta {
    max-width: 400px;
  }
  .main .cta__button:hover {
    transition: all 0.2s linear;
  }
  .main .cta__button--dark:hover {
    background-color: rgb(102, 226, 220);
    color: rgb(25, 24, 38);
  }
  .main .cta__button--dark:hover .cta__icon {
    transition: all 0.2s linear;
    filter: invert(100%) sepia(72%) saturate(2%) hue-rotate(176deg) brightness(106%) contrast(101%);
  }
  .main .cta__button--light:hover {
    background-color: rgb(255, 185, 100);
  }
  .footer {
    grid-template-areas: "logo contact-info social-media";
    padding-inline: 80px;
    gap: 56px;
  }
  .footer__email:hover {
    color: rgb(250, 116, 83);
    transition: all 0.2s linear;
  }
  .footer__social-media {
    transition: all 0.5s linear;
  }
  .footer__social-media-icon:hover {
    transform: scale(1.2);
    filter: invert(69%) sepia(77%) saturate(4067%) hue-rotate(328deg) brightness(105%) contrast(96%);
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding-inline: 160px;
    padding-block-end: 250px;
  }
  .header .hero__pattern {
    width: -moz-fit-content;
    width: fit-content;
    top: -270px;
    right: -160px;
  }
  .header .hero__title {
    font-size: 5.5rem;
  }
  .header .hero__description {
    font-size: 1.25rem;
  }
  .main {
    padding: 0 160px 200px;
  }
  .main .cta {
    max-width: 500px;
    padding: 56px;
    top: 11%;
    right: 14%;
  }
  .main .cta__description {
    font-size: 1.25rem;
  }
  .footer {
    padding-inline: 160px;
    gap: 128px;
  }
}/*# sourceMappingURL=main.css.map */